COMPOSE_PROJECT_NAME=starkbank-trial-local
POSTGRES_DB=starkbank_trial
POSTGRES_USER=trial
POSTGRES_PASSWORD=change-local-password
POSTGRES_PORT=55432
API_PORT=8787

STARKBANK_ENVIRONMENT=sandbox
STARKBANK_PROJECT_ID=
STARKBANK_WORKSPACE_ID=
LOCAL_STARKBANK_PRIVATE_KEY_FILE=./secrets/private-key.pem
PUBLIC_BASE_URL=
STARKBANK_SANDBOX_LIVE_ENABLED=false

LOG_LEVEL=info
MAX_CONTENT_LENGTH=1048576
WORKER_LEASE_SECONDS=120
BATCH_LEASE_SECONDS=300
RETRY_BASE_SECONDS=5
INVOICE_MAX_ATTEMPTS=5
INVOICE_RECONCILIATION_MAX_ATTEMPTS=5
TRANSFER_MAX_ATTEMPTS=10
